In [3]:
import pandas as pd
df = pd.read_csv("https://ai-project-inflation.s3.amazonaws.com/data_merged.csv")
df.head()

,Date,Inflation_Rate,Prime_Rate,Crude_prices,10_year_bond,manu_labor_rate,CAD_M1_MoneySupply,USD_CAD_rate,SNP_TSX_Close
0,2000-01,1.5,6.50,25.51,6.491500,18.25,2.166880e+11,1.448226,8481.099609
1,2000-02,1.8,6.75,27.78,6.338571,18.33,2.216730e+11,1.450341,9129.000000
2,2000-03,1.8,7.00,27.49,6.028261,18.23,2.250820e+11,1.460354,9462.400391
3,2000-04,1.4,7.00,22.76,5.924211,18.27,2.284850e+11,1.468305,9347.599609
4,2000-05,1.6,7.50,27.74,6.215000,18.42,2.281010e+11,1.494781,9252.000000