In [498]:
!pip install openpyxl xlrd
!pip install --upgrade pandas
!pip install --upgrade xlrd # this worked for me

19748.19s - pydevd: Sending message related to process being replaced timed-out after 5 seconds

DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
Requirement already satisfied: openpyxl in /usr/local/lib/python3.9/site-packages (3.0.10)
Requirement already satisfied: xlrd in /usr/local/lib/python3.9/site-packages (2.0.1)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.9/site-packages (from openpyxl) (1.1.0)
DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621

In [499]:
import numpy as np
import os
from six.moves import urllib

# Brute data from different sources:
# https://ai-project-inflation.s3.amazonaws.com/
DOWNLOAD_ROOT = "https://ai-project-inflation.s3.amazonaws.com/"
INFLATION_PATH = os.path.join("datasets", "inflation")

def fetch_housing_data(file_name):
    inflation_url= DOWNLOAD_ROOT+file_name
    inflation_path=INFLATION_PATH
    if not os.path.isdir(inflation_path):
        os.makedirs(inflation_path)
    inflation_path = os.path.join(inflation_path, file_name)
    urllib.request.urlretrieve(inflation_url, inflation_path)

def load_inflation_data(file_name):
    fetch_housing_data(file_name)
    return os.path.join(INFLATION_PATH,file_name)

In [500]:
import pandas as pd
import datetime
def truncate_date(date):
  ts = pd.to_datetime(str(date))
  return ts.strftime('%Y-%m')

def parsing_string_to_date_withdash(date):
  format = "%B-%Y"
  return truncate_date(datetime.datetime.strptime(date, format))

def parsing_string_to_date(date):
  format = "%B %Y"
  return truncate_date(datetime.datetime.strptime(date, format))

In [501]:
brent_crude_prices = pd.read_excel(load_inflation_data("Brent_crude_prices.xls"), sheet_name=1, header=2)
brent_crude_prices["Date"] = brent_crude_prices["Date"].apply(truncate_date)
brent_crude_prices.rename(columns={'Europe Brent Spot Price FOB (Dollars per Barrel)': 'Crude_prices'}, inplace=True)
brent_crude_prices = brent_crude_prices.set_index('Date')
brent_crude_prices.head()
# brent_crude_prices.info()

         Crude_prices
Date
1987-05         18.58
1987-06         18.86
1987-07         19.86
1987-08         18.98
1987-09         18.31

In [502]:
prime_rate = pd.read_excel(load_inflation_data("Prime_Rate_History-WOWA.xlsx"))
prime_rate["Date"] = prime_rate["Date"].apply(parsing_string_to_date)
prime_rate.rename(columns={'Prime Rate': 'Prime_Rate'}, inplace=True)


prime_rate = prime_rate[["Date","Prime_Rate" ]]
# prime_rate = prime_rate.set_index('Date')
prime_rate.head()

      Date  Prime_Rate
0  1935-01        5.50
1  1936-01        5.21
2  1937-01        5.00
3  1938-01        5.00
4  1939-01        5.00

In [503]:
bond_rate = pd.read_csv(load_inflation_data("StlouisfedCAD10yearbondrate.csv"))
bond_rate.rename(columns={'DATE': 'Date'}, inplace=True)
bond_rate.rename(columns={'IRLTLT01CAM156N': '10_year_bond'}, inplace=True)
bond_rate["Date"] = bond_rate["Date"].apply(truncate_date)
# bond_rate = bond_rate.set_index('Date')
bond_rate.head()

      Date  10_year_bond
0  2000-01      6.491500
1  2000-02      6.338571
2  2000-03      6.028261
3  2000-04      5.924211
4  2000-05      6.215000

In [504]:
fx_rates = pd.read_csv(load_inflation_data("FX_RATES_MONTHLY_CSV.csv"))
fx_rates["Date"] = fx_rates["Date"].apply(truncate_date)
# fx_rates = fx_rates.set_index('Date')
fx_rates.head()

      Date     1 USD
0  1990-01  1.172038
1  1990-02  1.196479
2  1990-03  1.179986
3  1990-04  1.164095
4  1990-05  1.174700

In [505]:
manufacturing_rate = pd.read_csv(load_inflation_data("Stlouisfeb_hourmanurate.csv"))
manufacturing_rate.rename(columns={'DATE': 'Date'}, inplace=True)
manufacturing_rate.rename(columns={'LCEAMN01CAM189S': 'manu_labor_rate'}, inplace=True)
manufacturing_rate["Date"] = manufacturing_rate["Date"].apply(truncate_date)
# manufacturing_rate= manufacturing_rate.set_index('Date')
manufacturing_rate.head()

      Date  manu_labor_rate
0  2000-01            18.25
1  2000-02            18.33
2  2000-03            18.23
3  2000-04            18.27
4  2000-05            18.42

In [506]:
money_supply = pd.read_csv(load_inflation_data("Stlousisfed_Canadain_Money_supply.csv"))
money_supply.rename(columns={'DATE': 'Date'}, inplace=True)
money_supply.rename(columns={'MANMM101CAM189S': 'CAD_M1_MoneySupply'}, inplace=True)
money_supply["Date"] = money_supply["Date"].apply(truncate_date)
# money_supply = money_supply.set_index('Date')
money_supply.head()

      Date  CAD_M1_MoneySupply
0  2000-01        2.166880e+11
1  2000-02        2.216730e+11
2  2000-03        2.250820e+11
3  2000-04        2.284850e+11
4  2000-05        2.281010e+11

In [507]:
fed_fx_rates = pd.read_csv(load_inflation_data("stlousisfedFXRates.csv"))
fed_fx_rates.rename(columns={'DATE': 'Date'}, inplace=True)
fed_fx_rates.rename(columns={'CCUSMA02CAM618N': 'USD_CAD_rate'}, inplace=True)
fed_fx_rates["Date"] = fed_fx_rates["Date"].apply(truncate_date)
# fed_fx_rates = fed_fx_rates.set_index('Date')
fed_fx_rates.head()

      Date  USD_CAD_rate
0  2000-01      1.448226
1  2000-02      1.450341
2  2000-03      1.460354
3  2000-04      1.468305
4  2000-05      1.494781

In [508]:
cpi_inflation = pd.read_csv(load_inflation_data("1810025601-CPI_and_Inflation_ydata.csv"))
cpi_inflation["Date"] = cpi_inflation["Date"].apply(truncate_date)
cpi_inflation.rename(columns={'Inflationrate': 'Inflation_Rate'}, inplace=True)

cpi_inflation = cpi_inflation[["Date", "Inflation_Rate", "CPI"]] 
# cpi_inflation = cpi_inflation.set_index('Date')
cpi_inflation.head()

      Date  Inflation_Rate   CPI
0  2000-05             1.6  95.5
1  2000-06             1.7  95.8
2  2000-07             1.8  95.8
3  2000-08             1.9  96.0
4  2000-09             1.8  96.2

In [509]:
tsx_data = pd.read_csv(load_inflation_data("TSX_data_for_20_years.csv"))
tsx_data["Date"] = tsx_data["Date"].apply(truncate_date)
tsx_data = tsx_data[["Date", "Close"]]
tsx_data.rename(columns={'Close': 'SNP_TSX_Close'}, inplace=True)

# tsx_data = tsx_data.set_index('Date')
tsx_data.head()

      Date  SNP_TSX_Close
0  2000-01    8481.099609
1  2000-02    9129.000000
2  2000-03    9462.400391
3  2000-04    9347.599609
4  2000-05    9252.000000

In [512]:
dataList = [cpi_inflation, prime_rate, brent_crude_prices,bond_rate, fx_rates, manufacturing_rate, money_supply, fed_fx_rates, tsx_data]
data_merged = pd.DataFrame()
initialIteration = True
for single_data in dataList:
  if initialIteration:
    data_merged = single_data.copy()
    initialIteration = False
  else:
    data_merged= data_merged.merge(single_data, left_index=True, right_index=True, how='outer')
    # data_merged.pop('Date_y')
    data_merged.rename(columns={'Date_x': 'Date'}, inplace=True)

In [513]:
data_merged.to_csv('final_result.csv', index = True)
data_merged.shape

(1206, 18)

In [514]:
data_merged.head()

,Date,Inflation_Rate,CPI,Date_y,Prime_Rate,Crude_prices,Date_y,10_year_bond,Date_y,1 USD,Date_y,manu_labor_rate,Date_y,CAD_M1_MoneySupply,Date_y,USD_CAD_rate,Date_y,SNP_TSX_Close
0,2000-05,1.6,95.5,1935-01,5.50,NaN,2000-01,6.491500,1990-01,1.172038,2000-01,18.25,2000-01,2.166880e+11,2000-01,1.448226,2000-01,8481.099609
1,2000-06,1.7,95.8,1936-01,5.21,NaN,2000-02,6.338571,1990-02,1.196479,2000-02,18.33,2000-02,2.216730e+11,2000-02,1.450341,2000-02,9129.000000
2,2000-07,1.8,95.8,1937-01,5.00,NaN,2000-03,6.028261,1990-03,1.179986,2000-03,18.23,2000-03,2.250820e+11,2000-03,1.460354,2000-03,9462.400391
3,2000-08,1.9,96.0,1938-01,5.00,NaN,2000-04,5.924211,1990-04,1.164095,2000-04,18.27,2000-04,2.284850e+11,2000-04,1.468305,2000-04,9347.599609
4,2000-09,1.8,96.2,1939-01,5.00,NaN,2000-05,6.215000,1990-05,1.174700,2000-05,18.42,2000-05,2.281010e+11,2000-05,1.494781,2000-05,9252.000000