In [155]:
import pandas as pd
import datetime
def truncate_date(date):
  ts = pd.to_datetime(str(date))
  return ts.strftime('%Y-%m')

def parsing_string_to_date(date):
  format = "%B %Y"
  return truncate_date(datetime.datetime.strptime(date, format))

# Brute data from different sources:
# https://ai-project-inflation.s3.amazonaws.com/

brent_crude_prices = pd.read_excel("./Brent_crude_prices.xls", sheet_name=1, header=2)
brent_crude_prices["Date"] = brent_crude_prices["Date"].apply(truncate_date)
brent_crude_prices.head()
# brent_crude_prices.info()

      Date  Europe Brent Spot Price FOB (Dollars per Barrel)
0  1987-05                                             18.58
1  1987-06                                             18.86
2  1987-07                                             19.86
3  1987-08                                             18.98
4  1987-09                                             18.31

In [156]:
!pip install openpyxl
prime_rate = pd.read_excel("./Prime_Rate_History-WOWA.xlsx")
prime_rate["Date"] = prime_rate["Date"].apply(parsing_string_to_date)
prime_rate.head()

DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
Requirement already satisfied: openpyxl in /usr/local/lib/python3.9/site-packages (3.0.10)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.9/site-packages (from openpyxl) (1.1.0)
DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621

      Date  Prime Rate  Bank of Canada Overnight Rate
0  1935-01        5.50                            2.5
1  1936-01        5.21                            2.5
2  1937-01        5.00                            2.5
3  1938-01        5.00                            2.5
4  1939-01        5.00                            2.5

In [157]:
bond_rate = pd.read_csv("./StlouisfedCAD10yearbondrate.csv")
bond_rate.rename(columns={'DATE': 'Date'}, inplace=True)
bond_rate["Date"] = bond_rate["Date"].apply(truncate_date)
bond_rate.head()

      Date  IRLTLT01CAM156N
0  2000-01         6.491500
1  2000-02         6.338571
2  2000-03         6.028261
3  2000-04         5.924211
4  2000-05         6.215000

In [158]:
fx_rates = pd.read_csv("./FX_RATES_MONTHLY_CSV.csv")
fx_rates["Date"] = fx_rates["Date"].apply(truncate_date)
fx_rates.head()

      Date     1Â USD
0  1990-01  1.172038
1  1990-02  1.196479
2  1990-03  1.179986
3  1990-04  1.164095
4  1990-05  1.174700

In [159]:
manufacturing_rate = pd.read_csv("./Stlouisfeb_hourmanurate.csv")
manufacturing_rate.rename(columns={'DATE': 'Date'}, inplace=True)
manufacturing_rate["Date"] = manufacturing_rate["Date"].apply(truncate_date)
manufacturing_rate.head()

      Date  LCEAMN01CAM189S
0  2000-01            18.25
1  2000-02            18.33
2  2000-03            18.23
3  2000-04            18.27
4  2000-05            18.42

In [160]:
money_supply = pd.read_csv("./Stlousisfed_Canadain_Money_supply.csv")
money_supply.rename(columns={'DATE': 'Date'}, inplace=True)
money_supply["Date"] = money_supply["Date"].apply(truncate_date)
money_supply.head()

      Date  MANMM101CAM189S
0  2000-01     2.166880e+11
1  2000-02     2.216730e+11
2  2000-03     2.250820e+11
3  2000-04     2.284850e+11
4  2000-05     2.281010e+11

In [161]:
fed_fx_rates = pd.read_csv("./stlousisfedFXRates.csv")
fed_fx_rates.rename(columns={'DATE': 'Date'}, inplace=True)
fed_fx_rates["Date"] = fed_fx_rates["Date"].apply(truncate_date)
fed_fx_rates.head()

      Date  CCUSMA02CAM618N
0  2000-01         1.448226
1  2000-02         1.450341
2  2000-03         1.460354
3  2000-04         1.468305
4  2000-05         1.494781

In [220]:
cpi_inflation = pd.read_csv("./1810025601-CPI_and_Inflation_ydata.csv", header=8, nrows=9, skiprows={10,14})
cpi_inflation.rename(columns={'Alternative measures': 'Date'}, inplace=True)
# cpi_inflation.index = cpi_inflation.iloc[:, 0]


cpi_inflation_inverted = pd.DataFrame.transpose(cpi_inflation, copy=False)

# pd.DataFrame.transpose(cpi_inflation, copy=True)
# cpi_inflation.head()

# cpi_inflation_inverted = cpi_inflation_inverted.drop(cpi_inflation_inverted.index[[0]])
# cpi_inflation_inverted.reset_index()
# cpi_inflation_inverted["Date"] = cpi_inflation_inverted["Date"].apply(parsing_string_to_date)
cpi_inflation_inverted.head(10)
# print(cpi_inflation_inverted)

,0,1,2,3,4,5,6,7,8
Date,Measure of core inflation based on a factor mo...,Measure of core inflation based on a weighted ...,Measure of core inflation based on a trimmed m...,"Consumer Price Index (CPI), all-items excludin...","Consumer Price Index (CPI), all-items excludin...","Consumer Price Index (CPI), all-items excludin...","Consumer Price Index (CPI), all-items excludin...","Consumer Price Index (CPI), all-items excludin...","Consumer Price Index (CPI), all-items excludin..."
May 2000,1.6,1.4,1.6,95.5,95.5,95.4,95.4,95.4,95.3
June 2000,1.7,1.6,1.8,95.8,95.8,96.0,95.6,95.7,95.8
July 2000,1.8,1.6,1.8,95.8,95.9,96.3,95.7,95.7,96.1
August 2000,1.9,1.7,1.9,96.0,96.0,96.2,95.9,95.9,96.1
September 2000,1.8,1.6,1.8,96.2,96.2,96.6,96.0,96.0,96.5
October 2000,1.7,1.7,1.9,96.3,96.3,96.8,96.2,96.2,96.8
November 2000,1.9,1.8,2.0,96.4,96.4,97.1,96.4,96.4,97.2
December 2000,1.9,1.9,2.1,96.4,96.4,97.2,96.7,96.7,97.4
January 2001,2.2,2.0,2.2,96.3,96.3,96.8,96.7,96.7,97.2

In [181]:
tsx_data = pd.read_csv("./TSX_data_for_20_years.csv")
tsx_data["Date"] = tsx_data["Date"].apply(truncate_date)
tsx_data.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2000-01,8271.700195,8755.599609,8018.600098,8481.099609,8481.099609,1.401281e+09
1,2000-02,8496.299805,9557.599609,8438.400391,9129.000000,9129.000000,9.071775e+08
2,2000-03,9317.900391,10176.700195,9191.900391,9462.400391,9462.400391,1.364784e+09
3,2000-04,9520.700195,9640.099609,8421.599609,9347.599609,9347.599609,1.839722e+09
4,2000-05,9399.099609,9620.500000,8807.400391,9252.000000,9252.000000,2.137767e+09

In [243]:
dataList = [brent_crude_prices,prime_rate,bond_rate, fx_rates, manufacturing_rate, money_supply, fed_fx_rates, tsx_data]
# cpi_inflation_inverted
data_merged = pd.DataFrame()
initialIteration = True
for single_data in dataList:
  if initialIteration:
    data_merged = single_data.copy()
    initialIteration = False
  else:
    data_merged= data_merged.merge(single_data, left_index=True, right_index=True)
    data_merged.pop('Date_y')
    data_merged.rename(columns={'Date_x': 'Date'}, inplace=True)
data_merged.head()

,Date,Europe Brent Spot Price FOB (Dollars per Barrel),Prime Rate,Bank of Canada Overnight Rate,IRLTLT01CAM156N,1Â USD,LCEAMN01CAM189S,MANMM101CAM189S,CCUSMA02CAM618N,Open,High,Low,Close,Adj Close,Volume
0,1987-05,18.58,5.50,2.5,6.491500,1.172038,18.25,2.166880e+11,1.448226,8271.700195,8755.599609,8018.600098,8481.099609,8481.099609,1.401281e+09
1,1987-06,18.86,5.21,2.5,6.338571,1.196479,18.33,2.216730e+11,1.450341,8496.299805,9557.599609,8438.400391,9129.000000,9129.000000,9.071775e+08
2,1987-07,19.86,5.00,2.5,6.028261,1.179986,18.23,2.250820e+11,1.460354,9317.900391,10176.700195,9191.900391,9462.400391,9462.400391,1.364784e+09
3,1987-08,18.98,5.00,2.5,5.924211,1.164095,18.27,2.284850e+11,1.468305,9520.700195,9640.099609,8421.599609,9347.599609,9347.599609,1.839722e+09
4,1987-09,18.31,5.00,2.5,6.215000,1.174700,18.42,2.281010e+11,1.494781,9399.099609,9620.500000,8807.400391,9252.000000,9252.000000,2.137767e+09

In [ ]:




#   df
#   print(x.shape)
#   print(x.head())