In [80]:
# pandas read transations.gz file 

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime

# read transactions.gz file
df = pd.read_csv('transactions.gz', compression='gzip', header=0, sep=',', quotechar='"')
df
#empty columns
df.drop(['merchantCity','merchantState','merchantZip','echoBuffer','posOnPremises','recurringAuthInd'],axis=1,inplace=True)

In [81]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
var = ['merchantName','acqCountry','merchantCountryCode','posEntryMode','posConditionCode','merchantCategoryCode','transactionType','cardPresent','expirationDateKeyInMatch','isFraud']
for i in var:
    df[i] = le.fit_transform(df[i])
# converting in datetime format
df['transactionDateTime'] = pd.to_datetime(df['transactionDateTime'])
df['currentExpDate'] = pd.to_datetime(df['currentExpDate'])
df['accountOpenDate'] = pd.to_datetime(df['accountOpenDate'])
df['dateOfLastAddressChange'] = pd.to_datetime(df['dateOfLastAddressChange'])
# extractind year, month, day, hour, minute and seconds from datetime columns
df['transactionDateTime_year'] = df['transactionDateTime'].dt.year
df['transactionDateTime_month'] = df['transactionDateTime'].dt.month
df['transactionDateTime_day'] = df['transactionDateTime'].dt.day
df['transactionDateTime_hour'] = df['transactionDateTime'].dt.hour
df['transactionDateTime_minute'] = df['transactionDateTime'].dt.minute
df['transactionDateTime_second'] = df['transactionDateTime'].dt.second

df['currentExpDate_year'] = df['currentExpDate'].dt.year
df['currentExpDate_month'] = df['currentExpDate'].dt.month
df['currentExpDate_day'] = df['currentExpDate'].dt.day

df['accountOpenDate_year'] = df['accountOpenDate'].dt.year
df['accountOpenDate_month'] = df['accountOpenDate'].dt.month
df['accountOpenDate_day'] = df['accountOpenDate'].dt.day

df['dateOfLastAddressChange_year'] = df['dateOfLastAddressChange'].dt.year
df['dateOfLastAddressChange_month'] = df['dateOfLastAddressChange'].dt.month
df['dateOfLastAddressChange_day'] = df['dateOfLastAddressChange'].dt.day
# drop datetime column
df.drop('transactionDateTime',axis = 1,inplace = True)
df.drop('currentExpDate',axis = 1,inplace = True)
df.drop('accountOpenDate',axis = 1,inplace = True)
df.drop('dateOfLastAddressChange',axis = 1,inplace = True)

In [82]:
#check if nan in df 
df.isnull().sum()

Unnamed: 0                       0
accountNumber                    0
customerId                       0
creditLimit                      0
availableMoney                   0
transactionAmount                0
merchantName                     0
acqCountry                       0
merchantCountryCode              0
posEntryMode                     0
posConditionCode                 0
merchantCategoryCode             0
cardCVV                          0
enteredCVV                       0
cardLast4Digits                  0
transactionType                  0
currentBalance                   0
cardPresent                      0
expirationDateKeyInMatch         0
isFraud                          0
transactionDateTime_year         0
transactionDateTime_month        0
transactionDateTime_day          0
transactionDateTime_hour         0
transactionDateTime_minute       0
transactionDateTime_second       0
currentExpDate_year              0
currentExpDate_month             0
currentExpDate_day               0
accountOpenDate_year             0
accountOpenDate_month            0
accountOpenDate_day              0
dateOfLastAddressChange_year     0
dateOfLastAddressChange_month    0
dateOfLastAddressChange_day      0
dtype: int64

In [83]:
df

,Unnamed: 0,accountNumber,customerId,creditLimit,availableMoney,transactionAmount,merchantName,acqCountry,merchantCountryCode,posEntryMode,...,transactionDateTime_second,currentExpDate_year,currentExpDate_month,currentExpDate_day,accountOpenDate_year,accountOpenDate_month,accountOpenDate_day,dateOfLastAddressChange_year,dateOfLastAddressChange_month,dateOfLastAddressChange_day
0,0,737265056,737265056,5000,5000.00,98.55,2086,3,3,0,...,32,2023,6,1,2015,3,14,2015,3,14
1,1,737265056,737265056,5000,5000.00,74.51,27,3,3,2,...,54,2024,2,1,2015,3,14,2015,3,14
2,2,737265056,737265056,5000,5000.00,7.47,1305,3,3,2,...,39,2025,8,1,2015,3,14,2015,3,14
3,3,737265056,737265056,5000,5000.00,7.47,1305,3,3,2,...,50,2025,8,1,2015,3,14,2015,3,14
4,4,830329091,830329091,5000,5000.00,71.18,2084,3,3,0,...,46,2029,10,1,2015,8,6,2015,8,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
786358,786358,732852505,732852505,50000,48904.96,119.92,1061,3,3,4,...,12,2022,12,1,2012,8,23,2012,8,23
786359,786359,732852505,732852505,50000,48785.04,18.89,2479,3,3,2,...,34,2023,8,1,2012,8,23,2012,8,23
786360,786360,732852505,732852505,50000,48766.15,49.43,1061,3,3,0,...,24,2025,8,1,2012,8,23,2012,8,23
786361,786361,732852505,732852505,50000,48716.72,49.89,2487,3,3,2,...,55,2022,7,1,2012,8,23,2012,8,23
786362,786362,732852505,732852505,50000,48666.83,72.18,2086,3,3,1,...,29,2024,5,1,2012,8,23,2012,8,23

In [84]:
# from sklearn.model_selection import train_test_split
# train_set, test_set = train_test_split(df, test_size=0.2, random_state=42)


# from sklearn.preprocessing import StandardScaler
# target = "isFraud"

# features = list(train_set.columns)
# features = [x for x in features if x not in ["Date", 'expirationDateKeyInMatch', "isFraud"]]
# # Separating out the features
# x = df.loc[:, features].values
# # Separating out the target
# y = df.loc[:,["isFraud"]].values
# # Standardizing the features
# x = StandardScaler().fit_transform(x)
# New_df is from the random undersample data (fewer instances)
target = df["isFraud"]
a = target.value_counts()
print(a)

0    773946
1     12417
Name: isFraud, dtype: int64

In [85]:
features = list(df.columns)
features = [x for x in features if x not in ["IsFraud"]]
features = df[features]
print(features)

        Unnamed: 0  accountNumber  customerId  creditLimit  availableMoney  \
0                0      737265056   737265056         5000         5000.00
1                1      737265056   737265056         5000         5000.00
2                2      737265056   737265056         5000         5000.00
3                3      737265056   737265056         5000         5000.00
4                4      830329091   830329091         5000         5000.00
...            ...            ...         ...          ...             ...
786358      786358      732852505   732852505        50000        48904.96
786359      786359      732852505   732852505        50000        48785.04
786360      786360      732852505   732852505        50000        48766.15
786361      786361      732852505   732852505        50000        48716.72
786362      786362      732852505   732852505        50000        48666.83

        transactionAmount  merchantName  acqCountry  merchantCountryCode  \
0                   98.55          2086           3                    3
1                   74.51            27           3                    3
2                    7.47          1305           3                    3
3                    7.47          1305           3                    3
4                   71.18          2084           3                    3
...                   ...           ...         ...                  ...
786358             119.92          1061           3                    3
786359              18.89          2479           3                    3
786360              49.43          1061           3                    3
786361              49.89          2487           3                    3
786362              72.18          2086           3                    3

        posEntryMode  ...  transactionDateTime_second  currentExpDate_year  \
0                  0  ...                          32                 2023
1                  2  ...                          54                 2024
2                  2  ...                          39                 2025
3                  2  ...                          50                 2025
4                  0  ...                          46                 2029
...              ...  ...                         ...                  ...
786358             4  ...                          12                 2022
786359             2  ...                          34                 2023
786360             0  ...                          24                 2025
786361             2  ...                          55                 2022
786362             1  ...                          29                 2024

        currentExpDate_month  currentExpDate_day  accountOpenDate_year  \
0                          6                   1                  2015
1                          2                   1                  2015
2                          8                   1                  2015
3                          8                   1                  2015
4                         10                   1                  2015
...                      ...                 ...                   ...
786358                    12                   1                  2012
786359                     8                   1                  2012
786360                     8                   1                  2012
786361                     7                   1                  2012
786362                     5                   1                  2012

        accountOpenDate_month  accountOpenDate_day  \
0                           3                   14
1                           3                   14
2                           3                   14
3                           3                   14
4                           8                    6
...                       ...                  ...
786358                      8                   23
786359                      8                   23
786360                      8                   23
786361                      8                   23
786362                      8                   23

        dateOfLastAddressChange_year  dateOfLastAddressChange_month  \
0                               2015                              3
1                               2015                              3
2                               2015                              3
3                               2015                              3
4                               2015                              8
...                              ...                            ...
786358                          2012                              8
786359                          2012                              8
786360                          2012                              8
786361                          2012                              8
786362                          2012                              8

        dateOfLastAddressChange_day
0                                14
1                                14
2                                14
3                                14
4                                 6
...                             ...
786358                           23
786359                           23
786360                           23
786361                           23
786362                           23

[786363 rows x 35 columns]

In [86]:
from sklearn.model_selection import train_test_split

# This is explicitly used for undersampling.
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.2, random_state=42)

In [87]:
X_train = X_train.values
X_test = X_test.values
y_train = y_train.values
y_test = y_test.values

In [88]:
# from sklearn import LogisticRegression, KNeighborsClassifier, SVC, DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier


classifiers = {
    "LogisiticRegression": LogisticRegression(),
    "KNearest": KNeighborsClassifier(),
    "Support Vector Classifier": SVC(),
    "DecisionTreeClassifier": DecisionTreeClassifier()
}

In [89]:
from sklearn.model_selection import cross_val_score


for key, classifier in classifiers.items():
    classifier.fit(X_train, y_train)
    training_score = cross_val_score(classifier, X_train, y_train, cv=5)
    print("Classifiers: ", classifier.__class__.__name__, "Has a training score of", round(training_score.mean(), 2) * 100, "% accuracy score")

Classifiers:  LogisticRegression Has a training score of 98.0 % accuracy score